{{>header}}
        <title>Advance Poly Pathic Pharmaceuticals Limited</title>
{{>navbar}}

            <!-- Carousel Start -->
            <div class="header-carousel owl-carousel">
                <div class="header-carousel-item">
                    <img src="img/carousel-1.jpg" class="img-fluid w-100" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row gy-0 gx-5">
                                <div class="col-lg-0 col-xl-5"></div>
                                <div class="col-xl-7 animated fadeInLeft">
                                    <div class="text-sm-center text-md-end">
                                        <h4 class="text-white text-uppercase fw-bold mb-4">We Offer a Wide Range of Products for Everyone</h4>
                                        <h1 class="display-4 text-uppercase text-primary mb-4">Welcome to Advance Poly Pathic Pharmaceuticals Limited</h1>
                                        <p class="mb-5 fs-5">We are specialized in developing, manufacturing, and marketing high-quality pharmaceuticals.</p>
                                        {{!-- <div class="d-flex justify-content-center justify-content-md-end flex-shrink-0 mb-4">
                                            <a class="btn btn-light rounded-pill py-3 px-4 px-md-5 me-2" href="#"><i class="fas fa-play-circle me-2"></i> Watch Video</a>
                                            <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" href="#">Learn More</a>
                                        </div> --}}
                                        <div class="d-flex align-items-center justify-content-center justify-content-md-end">
                                            <h2 class="text-white me-2">Follow Us:</h2>
                                            <div class="d-flex justify-content-end ms-2">
                                                <a class="btn btn-md-square btn-light rounded-circle me-2" href="https://www.facebook.com/appl.dr.mahesh"><i class="fab fa-facebook-f"></i></a>
                                                <a class="btn btn-md-square btn-light rounded-circle mx-2" href="https://x.com/"><i class="fab fa-x-twitter"></i></a>
                                                <a class="btn btn-md-square btn-light rounded-circle mx-2" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                                <a class="btn btn-md-square btn-light rounded-circle ms-2" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-carousel-item">
                    <img src="img/carousel-2.jpg" class="img-fluid w-100" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row g-5">
                                <div class="col-12 animated fadeInUp">
                                    <div class="text-center">
                                        <h4 class="text-white text-uppercase fw-bold mb-4">We offer affordable pricing</h1></h4>
                                        <h1 class="display-4 text-uppercase text-primary mb-4">Welcome to Advance Poly Pathic Pharmaceuticals Limited</h1>
                                        <p class="mb-5 fs-5">We specialize in producing high-quality branded and generic medicines, understanding our customers' needs clearly.
                                        </p>
                                        {{!-- <div class="d-flex justify-content-center flex-shrink-0 mb-4">
                                            <a class="btn btn-light rounded-pill py-3 px-4 px-md-5 me-2" href="#"><i class="fas fa-play-circle me-2"></i> Watch Video</a>
                                            <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" href="#">Learn More</a>
                                        </div> --}}
                                        <div class="d-flex align-items-center justify-content-center">
                                            <h2 class="text-white me-2">Follow Us:</h2>
                                            <div class="d-flex justify-content-end ms-2">
                                                <a class="btn btn-md-square btn-light rounded-circle me-2" href="https://www.facebook.com/appl.dr.mahesh"><i class="fab fa-facebook-f"></i></a>
                                                <a class="btn btn-md-square btn-light rounded-circle mx-2" href="https://x.com/"><i class="fab fa-x-twitter"></i></a>
                                                <a class="btn btn-md-square btn-light rounded-circle mx-2" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                                <a class="btn btn-md-square btn-light rounded-circle ms-2" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carousel End -->
        </div>
        <!-- Navbar & Hero End -->


    {{>about}}
    
    {{>service}}
    {{>feature}}
    {{>offer}}
    {{>team}}
    {{>testimonial}}
    {{>faq}}

{{>footer}}        